/*-------------------------------
		0.1.-VARIABLES
--------------------------------*/


/*COLORS*/

$primary-color: #18B1A3;
$white: #ffffff;
$secondary-color:#4286F5;
$tertiary-color: #5E6EBF;


$black: #000;
$text-color:#878A8D;

// background: #4286f5;
// background: -moz-linear-gradient(45deg, #4286f5 0%, #18b1a3 75%, #18b1a3 100%);
// background: -webkit-linear-gradient(45deg, #4286f5 0%,#18b1a3 75%,#18b1a3 100%);
// background: linear-gradient(45deg, #4286f5 0%,#18b1a3 75%,#18b1a3 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4286f5', endColorstr='#18b1a3',GradientType=1 );

/*END COLORS*/


/*FONTS*/
$poppins-regular: Poppins-regular;

$poppins-semibold: Poppins-SemiBold;

$poppins-medium: Poppins-Medium;

$poppins-light: Poppins-Light;

$poppins-bold: Poppins-bold;
